@inject BackendHttpClient BackendHttpClient

<PageTitle>Show Task</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Hello, world!");
        Console.WriteLine(BackendHttpClient.httpClient.BaseAddress);
    }
}
